<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		input::-webkit-input-placeholder { 
			color: #999; 
			-webkit-transition: color.5s; 
		} 
		input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { color: #c2c2c2; 
			-webkit-transition: color.5s; 
		}
	</style>
	<h3>增加作者</h3>
</head>
<body>
	<div>
		<form  action="/addresult_b/" method="get" >
			<p>book title :<input type="text" placeholder="用户名" name="username"/></p>
			<p>book authorid:<input type="text" placeholder="密码" name="password"/></p>
  			<input type="submit" value="Submit" />
		</form>
	</div>
</body>
</html>
		